In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import pickle

In [2]:
iris = pd.read_excel("iris.xls")

In [3]:
newcols={
"SL":"SepalLength cm",
"SW":"SepalWidth cm",
"PL":"PetalLength cm",
"PW":"Petalwidth cm"}
 
iris.rename(columns=newcols,inplace=True)
 
iris.head()

   SepalLength cm  SepalWidth cm  PetalLength cm  Petalwidth cm Classification
0             5.1            3.5             1.4            0.2    Iris-setosa
1             4.9            3.0             1.4            0.2    Iris-setosa
2             4.7            3.2             1.3            0.2    Iris-setosa
3             4.6            3.1             1.5            0.2    Iris-setosa
4             5.0            3.6             1.4            0.2    Iris-setosa

In [4]:
iris.shape

(150, 5)

In [5]:
iris.size

750

In [6]:
iris.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 150 entries, 0 to 149
Data columns (total 5 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   SepalLength cm  150 non-null    float64
 1   SepalWidth cm   150 non-null    float64
 2   PetalLength cm  150 non-null    float64
 3   Petalwidth cm   150 non-null    float64
 4   Classification  150 non-null    object
dtypes: float64(4), object(1)
memory usage: 6.0+ KB

In [7]:
iris.isnull()

,SepalLength cm,SepalWidth cm,PetalLength cm,Petalwidth cm,Classification
0,False,False,False,False,False
1,False,False,False,False,False
2,False,False,False,False,False
3,False,False,False,False,False
4,False,False,False,False,False
...,...,...,...,...,...
145,False,False,False,False,False
146,False,False,False,False,False
147,False,False,False,False,False
148,False,False,False,False,False
149,False,False,False,False,False

In [8]:
iris.isnull().sum()

SepalLength cm    0
SepalWidth cm     0
PetalLength cm    0
Petalwidth cm     0
Classification    0
dtype: int64

In [9]:
from  sklearn import  datasets
iris=datasets.load_iris()

In [10]:
x=iris.data
y=iris.target

Splitting the dataset;

In [11]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=.5)

Build the model

In [12]:
from sklearn import neighbors
classifier=neighbors.KNeighborsClassifier()

Training our Model.

In [13]:
classifier.fit(x_train,y_train)

KNeighborsClassifier()

Making predictions:

In [14]:
predictions=classifier.predict(x_test)

In [15]:
from sklearn.metrics import accuracy_score
print(accuracy_score(y_test,predictions))

0.9466666666666667

.

In [16]:
def score(sample):
  import numpy as np
  np_sample = np.array(sample)
  pred = classifier.predict(np_sample.reshape(1, -1)).tolist()
  return ['setosa', 'versicolor', 'virginica'][pred[0]]

In [17]:
import numpy as np
sample = [1,2,3,4]
score(sample)

'versicolor'

Building the Flask App